* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; }

.x {
  height: 100rem; }

.header {
  height: 100vh;
  background-image: url("../img/header.jpg"); }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem; }
    .header__menu__logo {
      height: 7rem; }
    .header__menu__hamburger {
      background-color: transparent;
      height: 7rem;
      width: 7rem;
      top: 6rem;
      right: 6rem;
      border: .2rem solid white;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer; }
      .header__menu__hamburger-icon {
        position: relative;
        margin-top: 3.3rem; }
        .header__menu__hamburger-icon, .header__menu__hamburger-icon::before, .header__menu__hamburger-icon::after {
          width: 3rem;
          height: 2px;
          background-color: white;
          display: inline-block; }
        .header__menu__hamburger-icon::before, .header__menu__hamburger-icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s; }
        .header__menu__hamburger-icon::before {
          top: -.8rem; }
        .header__menu__hamburger-icon::after {
          top: .8rem; }
  .header__contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 65%; }
    .header__contaier__mainTitle {
      color: #fff;
      font-size: 12rem;
      text-shadow: 0.4rem 0.4rem 2rem black;
      text-transform: uppercase;
      font-family: 'Futura', sans-serif; }
    .header__contaier__description {
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
      font-family: inherit;
      text-shadow: 2px 2px 2px black;
      text-align: center;
      line-height: 3.5rem;
      width: 60%; }
    .header__contaier__discover {
      color: #fff;
      font-size: 2rem; }
