#footer {
  background-color: #262729;
  height: 50vh; }

.header {
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem; }
    .header__menu__logo {
      height: 7rem; }
    .header__menu__hamburger {
      background-color: transparent;
      height: 7rem;
      width: 7rem;
      top: 6rem;
      right: 6rem;
      border: .2rem solid white;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer; }
      .header__menu__hamburger-icon {
        position: relative;
        margin-top: 3.3rem; }
        .header__menu__hamburger-icon, .header__menu__hamburger-icon::before, .header__menu__hamburger-icon::after {
          width: 3rem;
          height: 2px;
          background-color: white;
          display: inline-block; }
        .header__menu__hamburger-icon::before, .header__menu__hamburger-icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s; }
        .header__menu__hamburger-icon::before {
          top: -.8rem; }
        .header__menu__hamburger-icon::after {
          top: .8rem; }
  .header__contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65%; }
    .header__contaier__scroll {
      text-decoration: none; }
    .header__contaier__mainTitle {
      color: #fff;
      font-size: 12rem;
      text-shadow: 0.4rem 0.4rem 2rem black;
      text-transform: uppercase;
      font-family: 'Futura', sans-serif; }
    .header__contaier__description {
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
      font-family: inherit;
      text-shadow: 2px 2px 2px black;
      text-align: center;
      line-height: 3.5rem;
      width: 60%;
      flex: 0 1 0; }
    .header__contaier__discover {
      color: #fff;
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .header__contaier__discover__arrow {
        opacity: 0;
        margin-top: 1rem; }
        .header__contaier__discover__arrow::before, .header__contaier__discover__arrow::after {
          background: #fff;
          content: '';
          display: block;
          height: .3rem;
          width: 3rem; }
        .header__contaier__discover__arrow-first {
          animation: arrow-movement 2s ease-in-out infinite; }
        .header__contaier__discover__arrow-second {
          animation: arrow-movement 2s 1s ease-in-out infinite; }
        .header__contaier__discover__arrow::before {
          transform: rotate(45deg) translateX(-16%);
          transform-origin: top left; }
        .header__contaier__discover__arrow::after {
          transform: rotate(-45deg) translateX(30%);
          transform-origin: top right; }

@keyframes arrow-movement {
  0% {
    opacity: 0;
    transform: translateY(-1rem); }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(1rem); } }

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  #howToBuy {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 100vh; } }

.container {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-around; }

.title-buy {
  margin-left: 20rem;
  font-size: 6rem;
  font-weight: 600; }

.steps {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 50%; }
  .steps__one {
    display: flex;
    align-self: flex-end; }
    .steps__one__title {
      transform: translate(-4rem, 4rem); }
    .steps__one__arrow {
      width: 10rem;
      transform: scaleY(-1) rotate(75deg) translateX(-10rem); }
    .steps__one__social {
      width: 8rem; }
      .steps__one__social-flex {
        display: flex;
        flex-direction: column;
        transform: translate(-12rem, 8rem); }
    .steps__one__facebook {
      transform: translate(-1.5rem, -6.5rem); }
    .steps__one__twitter {
      transform: translate(6rem, -12rem); }
    .steps__one__instagram {
      transform: translate(0rem, -15rem); }
    .steps__one__glass {
      width: 10rem;
      transform: translate(8rem, -1.7rem); }
  .steps__two {
    display: flex;
    background-color: blue; }
  .steps__three {
    display: flex;
    align-self: center;
    background-color: red; }
  .steps__four {
    display: flex;
    background-color: purple; }

.stepsTitle {
  font-size: 4.5rem; }

#subscribe {
  height: 100vh; }

#wantToWorkWithUs {
  margin-top: -25.1vh;
  height: 100vh; }

#whatWeSell {
  background-color: #262729;
  margin-top: -25.1vh; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    #whatWeSell {
      -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 100vh, 0 100%);
      clip-path: polygon(0 25vh, 100% 0, 100% 100vh, 0 100%);
      height: 125vh; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; }
